.recommendations_wrapper {
    padding-top: 30px;
}
.recommendations_header {
    font-weight: 700;
    font-size: 2rem;
}
.recommendations_container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.recommendations_card {
    max-width: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.recommendations_img {
    max-width: 140px;
    border-radius: 50%;
    object-fit: cover;
}
.recommendations_description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.name {
    font-size: 1.5rem;
}
.position {

}
@media(max-width: 1500px) {
    .recommendations_card {
        max-width: 800px;
    }
}
@media(max-width: 700px) {

    .recommendations_wrapper {
        padding-top: 15px;
    }
    .recommendations_container {
        padding-top: 15px;
        gap: 15px;
    }
    .recommendations_card {
        flex-direction: column;
        gap: 15px;
    }
}